
body {
	background: #F7F9F9;
	height: 100%;
}

a {
      text-decoration:none;
   }

.container {
	width: 400px;
	height: 340px;
	/*text-align: center;*/
	background-color: #ffffff;
	border-radius: 12px;
	margin-left: 15px;
	margin-top: 5%;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 0px 0 rgba(0, 0, 0, 0.0);
	font-family: HelveticaNeue-Light;
	font-size: 14px;
}

