table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 0;
}

th, td {
    padding: 15px;
    padding-bottom: 15px;
}


p {
	margin-left: 22px;
	}

th {
    background-color: #512E5F;
    color: white;
	table-layout: fixed;
	border-collapse: collapse;
}

